.transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__score,
  &__motion,
  &__motion-shared {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    z-index: 0;

    &.active {
      pointer-events: initial;
      visibility: visible;
      z-index: 1;
    }
  }
}
