@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";

.room {
  width: 100%;
  height: 100%;

  &__container {
    height: calc(100% - 130px);
    padding: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
  }

  &__selection {
    margin-top: 20px;
    display: flex;
  }

  &__choice {
    flex: 1;
    position: relative;

    &:first-child {
      margin-right: 10px;
    }

    label {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:checked + .button {
        opacity: 1;
      }
    }

    .button {
      opacity: 0.3;
      height: 45px;
    }
  }

  &__placement {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__action {
    margin: 0 auto;
  }
}

@media #{$smallMobile} {
  .room {
    &__container {
      height: calc(100% - 100px);
    }
  }
}
