@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";

.leaderboard-table {
  width: 100%;
  font-size: 1.6rem;
  line-height: 3.5rem;
  text-align: left;

  &__team {
    td {
      &:nth-of-type(2) {
        opacity: 0.5;
        text-align: center;
      }
      &:nth-of-type(3) {
        @include mikado-bold;
        text-align: right;
      }
    }
  }
}
