.draggable-element {
  background-color: #ffe136;
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;

  &:nth-child(1) {
    background-color: #ffe136;
  }

  &:nth-child(2) {
    background-color: #ff7ade;
    width: 130px;
    height: 130px;
  }

  &:nth-child(3) {
    background-color: #3ced7e;
    width: 100px;
    height: 100px;
  }
}
