@import "../../../stylesheets/mixins.scss";

.admin-homepage {
  width: 100%;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    @include display-center;
  }
  &__link {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    @include display-center;
    text-transform: uppercase;
    color: #ffffff;
    background: #ef8354;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;

    img {
      height: 60px;
      margin: 0 auto 20px auto;
      display: block;
    }

    span {
      transition: all 0.5s ease-in-out;
    }
  }
}
