.client {
  display: inline-block;
  text-align: center;

  &__screen {
    background: black;
    color: white;
    margin-right: 20px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  select {
    margin-bottom: 15px;
  }
}
