@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";

.score-closing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  @include display-center;
  @include mikado-black;
  font-size: 5rem;
  line-height: 7rem;
  color: $white;

  &--2 {
    column-count: 2;
    column-gap: 50px;
    font-size: 3rem;
  }

  &--3 {
    column-count: 3;
    column-gap: 20px;
    font-size: 2rem;
    line-height: 3rem;
  }

  &__container {
    margin-bottom: 40%;
  }
}
