@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";

.join {
  width: 100%;
  height: 100%;

  &__container {
    height: calc(100% - 130px);
    padding: 30px;
    display: flex;
  }

  &__form {
    margin: auto;
    text-align: center;

    .form {
      &__field {
        position: relative;
      }

      &__label {
        display: block;
        margin: 0 auto 10px auto;
        text-align: center;
        max-width: 200px;
      }

      &__input {
        @include mikado-black;
        font-size: 4.6rem;
        width: 220px;
        text-align: center;
        border: none;
        border-radius: 0;
        padding: 0;

        &::placeholder {
          opacity: 0.1;
        }
      }

      &__error {
        font-size: 0.5rem;
        line-height: 0.7rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        color: $red;
      }

      &__action {
        margin: 0 auto;
      }
    }
  }
}

@media #{$smallMobile} {
  .join {
    &__container {
      height: calc(100% - 100px);
    }

    &__form {
      .form {
        &__input {
          font-size: 3.5rem;
        }
      }
    }
  }
}
