@import "../../../stylesheets/mixins.scss";

.admin-header {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  background: #ffe135;
  color: #000000;
  display: flex;
  align-items: center;

  &__link {
    color: #000000;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-right: 20px;
    transition: color 0.1s ease-in;
    letter-spacing: 1px;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      color: #ef8354;
    }

    &.home {
      margin-right: auto;
      @include display-center;
      text-transform: initial;
      font-size: 2.2rem;

      img {
        height: 50px;
        margin-right: 10px;
      }
    }
  }
}
