* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root,
.client {
  width: 100%;
  height: 100%;
}
