* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  // @include defineHeight;
  @include mikado;
  font-size: 14px;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

input,
button,
textarea,
select {
  &:focus {
    outline: none;
  }
}

.client {
  white-space: initial;
}
