@mixin defineHeight {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fontFace(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf
) {
  $src: null;
  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );
  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );
  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + "." + $extmod)) format(quote($format)),
      comma
    );
  }
  @font-face {
    font-family: quote($name);
    src: $src;
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin mikado {
  font-family: "Mikado";
  font-weight: normal;
}

@mixin mikado-medium {
  font-family: "Mikado";
  font-weight: 500;
}

@mixin mikado-bold {
  font-family: "Mikado";
  font-weight: bold;
}

@mixin mikado-black {
  font-family: "Mikado";
  font-weight: 900;
}

@mixin mikado-ultra {
  font-family: "Mikado Ultra";
  font-weight: normal;
}
