/* ------ */
/* COLORS */
/* ------ */

// interface
$pink: #f987e4;
$red: #ff5f5f;
$yellow: #ffe136;
$blue: #557dff;
$blue-dark: #000d3b;
$white: #f1f1f1;

// admin
$orange: #ef8354;
$blue: #4f5d75;
