.device {
  display: inline-block;
  text-align: center;
  margin-right: 20px;

  > select {
    margin-bottom: 15px;
  }

  &__screen {
    outline: 2px solid black;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
