.admin {
  position: relative;
  width: 100%;
  height: 100%;

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 30px;
    background: #2d3142;
    color: #ffffff;
    display: flex;
    align-items: center;

    .header {
      &__link {
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 20px;
        transition: color 0.1s ease-in;
        letter-spacing: 1px;

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          color: #ef8354;
        }

        &.home {
          margin-right: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: initial;
          font-size: 22px;

          img {
            height: 40px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  &__container {
    width: 100%;
    height: calc(100% - 70px);
  }

  &__homepage {
    .homepage {
      &__container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__link {
        display: block;
        height: 100%;
        width: 50%;
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 3em;
        text-align: center;
        font-weight: 900;
        letter-spacing: 2px;

        &:hover {
          width: 60%;
        }

        &:first-of-type {
          background: #ef8354;
        }

        &:last-of-type {
          background: #4f5d75;
        }

        img {
          height: 60px;
          margin: 0 auto 20px auto;
          display: block;
        }

        span {
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}
