@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";

.header {
  background: $blue;
  color: $white;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  max-height: 150px;
  @include display-center;
  text-align: center;
  font-size: 1.2rem;
  position: relative;

  &__back {
    position: absolute;
    top: 30px;
    left: 40px;

    path {
      fill: $white;
    }
  }

  &__logo {
    width: 130px;
  }

  &__code,
  &__score {
    @include mikado-black;
    font-size: 6rem;
    line-height: 5.5rem;
  }

  &__best-score {
    @include mikado-bold;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 10px;
  }
}

@media #{$smallMobile} {
  .header {
    height: 100px;

    &__logo {
      width: 100px;
    }
  }
}
