@import "../../../stylesheets/variables.scss";

.admin-rooms {
  &__container {
    padding: 20px 30px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__table {
    &__row {
      display: grid;
      grid-template-columns: 350px 125px auto;
      column-gap: 50px;
      color: inherit;
      padding: 18px;
      &:first-child {
        background-color: $blue;
        color: $white;
      }
      &:not(:first-child) {
        transition: background-color 0.2s ease;
        &:hover {
          background-color: #fa8f8f;
        }
      }
      &:nth-child(2n + 3) {
        background-color: #e5ecfc;
      }
      &:nth-child(2n + 2) {
        background-color: $white;
      }
      &__cell {
        font-size: 20px;
        line-height: 1.1;
        span {
          font-size: 17px;
          margin-right: 14px;
        }
      }
    }
  }
}
