@import "../../stylesheets/mixins.scss";
@import "../../stylesheets/variables.scss";

.leaderboard {
  width: 100%;
  height: 100%;

  &__container {
    margin: 0 auto;
    height: calc(100% - 130px);
    padding: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: column;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__actions {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__action {
    margin: 0 auto;

    &:first-child {
      margin: 0 auto 15px auto;
    }
  }
}
